// Place all the styles related to the checkout controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  div {
    margin-bottom: 0.5rem;
  }
}
.input {
  width: 5rem;
  font-size: inherit;
  vertical-align: middle;
}