<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @category.name %>
      </h1>
    </div>
  </div>
</section>

<div class="columns is-vcentered is-multiline">
  <%= render partial: "products/product_card", collection: @category.products, :as => :product %>
</div>