<div class="column is-one-third">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <% if product.image.present? %>
          <%= link_to image_tag(product.image), product %>
        <% else %>
          <%= link_to(image_tag("/images/no_image.png", alt: "No image for this product."), product) %>
        <% end %>
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-6"><%= link_to product.name, product %></p>
        </div>
      </div>
    </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item">Save</a>
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item"><%= number_to_currency(product.price) %></a>
      </footer>
  </div>
</div>