<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= product.name %>
      </h1>
    </div>
  </div>
</section>

  <%= render partial: "products/item", object: @product, :as => :product, locals: { item_details: true, small_mode: false } %>