
  <div class="cart">
    <h1 class="title">Your Cart</h1>
    <% if @cart.empty? %>
    <p>
      <i>Your cart is empty!</i>
    </p>
    <% else %>
    <%= render partial: "products/item", collection: @cart, :as => :product, locals: { item_details: false, small_mode: true, is_cart: true } %>
    <% end %>
  </div>

  <%= button_to('Checkout - ' + number_to_currency(@total), checkout_create_path, remote: true, method: :post, class: 'button is-primary') unless @cart.empty?%>
